body {
    background-color: #34f9fe;
}

.buttonspace {
    padding: 10px;
    width: 1400px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

.button1 {
    padding: 1em 1.75em;
    border: 2px solid #06569e;
    width: 150px;
    border-radius: 0.75em;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    background: #2c9bff;
    transform-style: preserve-3d;
    transition: .15s cubic-bezier(0, 0, .6, 1);
}

.button1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #1b7fca;
    box-shadow: 0 0 0 2px #0861a4, 0 .5em 0 0 #63bcff;
    transform: translate3d(0, .75em, -1em);
    transition: .15s cubic-bezier(0, 0, .6, 1);
}

.button1:hover {
    background: #57b7ff;
    transform: translate(0, .25em);
}

.button1:hover::before {
    box-shadow: 0 0 0 2px #0861a4, 0 .375em 0 0 #63bcff;
    transform: translate3d(0, .5em, -1em);
}

.button1:active {
    background: #57b7ff;
    transform: translate(0, .75em);
}

.button1:active::before {
    box-shadow: 0 0 0 2px #0861a4, 0 0 #63bcff;
    transform: translate3d(0, 0, -1em);
}

.gamezone {
    width: 1400px;
    height: 490px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.p1zone {
    border: 2px solid black;
    height: 490px;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar {
    width: 200px;
    height: 200px;
    padding: 20px;
    top: 70px;
}

.table {
    height: 490px;
    width: 500px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.p2zone {
    border: 2px solid black;
    height: 490px;
    width: 450px;
    display: flex;
    justify-content: center;
}

.results {
    width: 1400px;
    height: 160px;
    padding: 10px;
    display: flex;
}

.resultp1 {
    border: 2px solid black;
    height: 150px;
    width: 450px;
    display: flex;
}

.result {
    border: 2px solid black;
    height: 150px;
    width: 500px;
    display: flex;
}

.resultp2 {
    border: 2px solid black;
    height: 150px;
    width: 450px;
    display: flex;
}

.table0 {
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: -55;
}

.table1 {
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: -55;

}

.table2 {
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: -55;

}

.table3 {
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: -55;
    margin-top: -45;
}

.table4 {
    border: 8px solid black;
    width: 120px;
    height: 120px;
    margin-bottom: -55;
    margin-top: -45;
}

.table5 {
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-top: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: -55;
    margin-top: -45;
}

.table6 {
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-top: -45;
}

.table7 {
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-top: -45;
}

.table8 {
    border-left: 8px solid black;
    border-top: 8px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    margin-top: -45;
}

.player {
    height: 490px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.player-sign {
    font-size: 50px;
    margin-top: 40px;
}

.active-player {
    background-color: blue;
}

.cell {
    font-size: 40px;
}