body {
    background-color: aqua;
}

.buttonspace {
    border: 2px solid black;
    padding: 10px;
    width: 1400px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gamezone {
    border: 2px solid black;
    width: 1400px;
    height: 490px;
    padding: 10px;
    display: flex;
}

.p1zone {
    border: 2px solid black;
    height: 490px;
    width: 400px;
    display: flex;
}

.table {
    border: 2px solid black;
    height: 490px;
    width: 600px;
    display: flex;
}

.p2zone {
    border: 2px solid black;
    height: 490px;
    width: 400px;
    display: flex;
}